body{
    background:#222222;
}

.ui.container{
    padding-top: 20px;
    text-align: center;
}

.ui.header{
    font-size: 42px !important;
    margin: 0;
    color: #fff;
    font-family: 'Alegreya', serif;
}